body{
    margin: 0px;
    margin-left: 15px;
    margin-bottom: 10px;   
}

pre{
    margin:0px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

h3{
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}

a{
    font-family: 'Courier New', Courier, monospace;
}

li{
    font-family: 'Courier New', Courier, monospace;
}
